.card {
    background: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 6px 8px rgb(243, 4, 4), 0 3px 6px rgb(2, 43, 224);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .card > .img-container {
    overflow: hidden;
    text-align: center;
    background:black;
    
    
  }
  .card > .img-container > img {
    height: 170px;
    width: 200px;
    
  }

  